article {
  width: 21cm;
  min-height: 29.7cm;
  background: white;
  margin: 0 auto;
  overflow: auto;
  padding: 2em;
  /* background: pink; */
}

.bio {
  position: relative;
  > img {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.education {
}

.skills .wrapper {
  flex-direction: column;
}

// 项目模块
.projects {
  .title {
    color: #5974d4;
  }

  .underline {
    display: inline-block;
    width: 100%; // 确保下划线的宽度覆盖整个元素
    border-bottom: 2px solid #adbaea; // 下划线的颜色和粗细
    padding-bottom: 10px; // 控制下划线与文字的间距
  }
  > p {
    color: #666;
  }
  > strong {
    color: #f60;
  }
  ol {
    margin-top: 0;
    list-style-position: inside;
    padding: 0;
    > li {
      margin-bottom: 24px;
      > header {
        display: flex;
        justify-content: space-between;
      }
      > h3 {
        display: inline-block;
      }
      .content {
        P {
          line-height: 1.5;
        }
        // margin-bottom: 20px;
      }
    }
  }
  .tag {
    color: #4a4a4a;
    padding: 4px 6px;
    background: #f7f7f7;
    border-radius: 5px;
    margin-right: 5px;
  }
}

// 工作经历模块
.work {
  .title {
    color: #5974d4;
  }

  .underline {
    display: inline-block;
    width: 100%; // 确保下划线的宽度覆盖整个元素
    border-bottom: 2px solid #adbaea; // 下划线的颜色和粗细
    padding-bottom: 10px; // 控制下划线与文字的间距
  }
  p {
    color: #666;
  }
  strong {
    color: #f60;
  }
  ol {
    margin-top: 0;
    list-style-position: inside;
    padding: 0;

    li {
      margin-bottom: 24px;

      header {
        display: flex;
        justify-content: space-between;
      }
      .content {
        P {
          line-height: 1.5;
        }
        // margin-bottom: 20px;
      }
    }
    h3 {
      display: inline-block;
    }
  }

  .tag {
    color: #4a4a4a;
    padding: 4px 6px;
    background: #f7f7f7;
    border-radius: 5px;
    margin-right: 5px;
  }

  // 技能模块
  .skills {
    .wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      > div {
        width: 45%;
        margin-bottom: 20px;
      }
    }
  }
}

.skills {
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    > div {
      width: 45%;
      margin-bottom: 20px;
    }
  }

  .title {
    color: #5974d4;
  }

  .underline {
    display: inline-block;
    width: 100%; // 确保下划线的宽度覆盖整个元素
    border-bottom: 2px solid #adbaea; // 下划线的颜色和粗细
    padding-bottom: 10px; // 控制下划线与文字的间距
  }
}

// 居中
@media (max-width: 500px) {
  body {
    margin: 0;
  }

  article {
    width: auto;
    height: auto;
  }

  .bio img {
    display: none;
  }

  .skills .wrapper {
    flex-direction: column;
  }

  .jobs header {
    flex-direction: column;
  }

  .jobs header > h3,
  .jobs header > h4,
  .jobs header > span {
    margin: 0;
  }
}
